/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    
    background: linear-gradient(120deg, #2c3e50, #1a1a1a);
}

    margin: 0;
    padding: 20px;
}
.animated-logo {
    filter: drop-shadow(0px 0px 15px gold); /* Stronger glow */
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.animated-logo {
    animation: float 4s infinite ease-in-out;
}

}

/* Puzzle Container */
.puzzle-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: auto;
    width: 310px;
}


.puzzle-piece {
    width: 100px;
    height: 100px;
    background-size: cover;
    border: 2px solid gold;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
}
.puzzle-piece:hover {
    filter: brightness(1.2);
    cursor: pointer;
}


/* Buttons */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
